#Intro {
	font-size: 150%;
	margin: 1% 0% 0% 1%;
}

.box {
	font-family:'Ubuntu', sans-serif;
    position: relative;
	background-color: lightgrey;
  	border: solid 0.1em;
  	left: 2%;
  	padding: 1% 1%;
    width: 95%;
}

#Terraria {
	font-size: 110%;
}

#TerrariaButton {
	position: absolute;
	right: 2%;
	top: 12%;
}

.collapse {
	position: relative;
	background-color: lightgrey;
	border-right: 0.1em solid black;
	border-bottom: 0.1em solid black;
	border-left: 0.1em solid black;
	left: 2%;
	width: 95%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

#GTASAButton {
	position: absolute;
	right: 2%;
	top: 12%;
}