#Intro {
	font-size: 150%;
	margin: 1% 0% 0% 1%;
}

.box {
	font-family:'Ubuntu', sans-serif;
    position: relative;
	background-color: lightgrey;
  	border: solid 0.1em;
  	margin: 0em 1em 1em 2em;
    padding-top: 0.5%;
  	padding-bottom: 0.5%;
    width: 95%;
}

.BoxTitle {
	font-size: 110%;
	margin-top: 0.3%;
	margin-bottom: 0.5%;
	margin-left: 1%;
}

.dropdownbutton {
	position: absolute;
	right: 2%;
	top: 12%;
}

table, th, td {
    border: 0.1em solid black;
    border-collapse: collapse;
}